# Python 虚拟环境
venv/
__pycache__/
*.pyc

# Conda 环境文件夹
.conda/
conda_env/

# 日志和输出
logs/*
opt/*

# Jupyter 临时文件
.ipynb_checkpoints/
*.ipynb

# 版本管理
.git/
.gitignore
.github
.vscode
.dockerignore

# 依赖和缓存
node_modules/
dist/
build/

# 其他常见目录/文件
assets/*
assets-remote/*
docs/*
tmp/
*.log
.DS_Store