services:
  rvc-base:
    # build: .
    image: rvc-web/app:latest
    container_name: rvc-3070
    volumes:
      - type: volume # 预加载模型缓存路径
        source: TTD-Data
        target: /app/assets
        volume:
          nocopy: true
          subpath: rvc-web
      - type: volume # 模型pth路径
        source: TTD
        target: /app/assets/weights
        volume:
          nocopy: true
          subpath: 04_应用/rvc-web/weights
      - type: volume # 模型index路径
        source: TTD
        target: /app/assets/indices
        volume:
          nocopy: true
          subpath: 04_应用/rvc-web/indices
      - type: volume # 模型logs路径
        source: TTD
        target: /app/logs
        volume:
          nocopy: true
          subpath: 04_应用/rvc-web/logs
      - type: volume # 批量infer的输入路径
        source: TTD
        target: /app/material
        volume:
          nocopy: true
          subpath: 04_应用/rvc-web/material
      - type: volume # 批量infer的输出路径
        source: TTD
        target: /app/opt
        volume:
          nocopy: true
          subpath: 04_应用/rvc-web/outputs
    shm_size: "32gb"
    init: True
    restart: always
    ports:
      - "7867:7865"
    #command: "tail -f /dev/null"
    environment:
      - TZ=Asia/Shanghai
      - LC_ALL=zh_CN.UTF-8
      - LANG=zh_CN.UTF-8
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: [ "0" ]
              capabilities: [ gpu ]
  # rvc-gpu:
  #   container_name: "rvc-p5000"
  #   extends: rvc-base
  #   ports: !override
  #     - "7868:7865"
  #   deploy: !override
  #     resources:
  #       reservations:
  #         devices:
  #           - driver: nvidia
  #             device_ids: [ "1" ]
  #             capabilities: [ gpu ]
  rvc-api:
    container_name: "rvc-api"
    extends: rvc-base
    ports: !override
      - "7866:7866"
    command: ["python3", "api.py"]
    deploy: !override
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: [ "1" ]
              capabilities: [ gpu ]

volumes:
  TTD-Data:
    external: true
  TTD:
    external: true
