services:
  rvc-base:
    # build: .
    image: rvc-web/app:latest
    container_name: rvc-3070
    volumes:
      - /TTD-Data/rvc-web:/app/assets
      - /TTD/04_应用/rvc-web/weights:/app/assets/weights
      - /TTD/04_应用/rvc-web/indices:/app/assets/indices
      - /TTD/04_应用/rvc-web/logs:/app/logs
      - /TTD/04_应用/rvc-web/material:/app/material
      - /TTD/04_应用/rvc-web/outputs:/app/opt
    shm_size: "32gb"
    init: True
    restart: always
    ports:
      - "7867:7865"
    #command: "tail -f /dev/null"
    environment:
      - TZ=Asia/Shanghai
      - LC_ALL=zh_CN.UTF-8
      - LANG=zh_CN.UTF-8
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: [ "0" ]
              capabilities: [ gpu ]
  # rvc-gpu:
  #   container_name: "rvc-p5000"
  #   extends: rvc-base
  #   ports: !override
  #     - "7868:7865"
  #   deploy: !override
  #     resources:
  #       reservations:
  #         devices:
  #           - driver: nvidia
  #             device_ids: [ "1" ]
  #             capabilities: [ gpu ]
  rvc-api:
    container_name: "rvc-api"
    extends: rvc-base
    ports: !override
      - "7866:7866"
    command: ["python3", "api.py"]
    deploy: !override
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: [ "1" ]
              capabilities: [ gpu ]
